.box {
    border: 2px solid;
    display: flex;
    margin: 30px auto 30px auto ;
    width: 300px;
    height: 100px;
}

.conatiner {
    display: flex;
    margin: 100px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
.justify-content {
    justify-content: space-around;
}


.margin-auto {
    margin: auto;
}


    .input {
        padding: 10px;
        margin:10px
    }

    .blue {
        background-color: blue;
        border: 3px solid red;
    
    }

    .yellow {
        background-color: yellow;
        border: 3px solid red;
    
    }

    .red {
        background-color: red;
        border: 3px solid blue;
    
    }

    .black {
        background-color: black;
        border: 3px solid red;
    
    }

    .lightblue {
        background-color: lightblue;
        border: 3px solid red;
    
    }