.button {
    border-radius: 10px;
    padding: 5px;
    width: 4rem;
    background: #f00;
    color: #fff;
    border-color: #f00;
    cursor: pointer;
}
.span-text {

    font-size: 18px;
    padding: 4px;

}